<ion-view view-title="Log in">
    <ion-header-bar class="bar-orange">
        <button ui-sref="onboarding" class="button back-button button-clear header-item">
            <i class="icon ion-arrow-left-c"></i>
        </button>
        <div class="title">Log In</div>
    </ion-header-bar>
    <ion-content padding="true" class="orange-bg">
        <div class="card orange-card">
            <div class="item item-body">
                <form class="orange-form">
                    <label class="item-input">
                        <input type="email" placeholder="Email"/>
                    </label>
                    <label class="item-input">
                        <input type="password" placeholder="Password"/>
                    </label>
                </form>
            </div>
            <div class="item item-button">
                <button class="button button-full button-orange" ui-sref="logs">Log In</button>
            </div>
        </div>
    </ion-content>
</ion-view>
