<ion-view view-title="Log in">
    <ion-header-bar class="bar-orange">
        <button ui-sref="onboarding" class="button back-button button-clear header-item">
            <i class="icon ion-arrow-left-c"></i>
        </button>
        <div class="title">Log In</div>
    </ion-header-bar>
    <ion-content padding="true" class="orange-bg">
        <div class="card orange-card">
            <form name="loginForm" class="orange-form">
                <div class="item item-error" ng-if="error">
                    <p ng-repeat="error in errors" ng-bind="error"></p>
                    <div ng-messages="loginForm.email.$error">
                        <p ng-message="email || validateEmail">Invalid email address</p>
                        <p ng-message="required">Email address is required</p>
                    </div>

                    <div ng-messages="loginForm.password.$error">
                        <p ng-message="required">Password is required</p>
                    </div>
                </div>
                <div class="item item-body">

                    <label class="item-input">
                        <input type="email" ng-model="user.email" name="email" placeholder="Email" required validate-email />
                    </label>
                    <label class="item-input">
                        <input type="password" ng-model="user.password" name="password" placeholder="Password"
                               required/>
                    </label>
                    <label class="item-input" ui-sref="account-reset">
                        <div class="agree-div">
                            <p>Forgot Password?</p>
                        </div>
                    </label>
                </div>

            </form>
            <div class="item item-button">
                <input type="submit" class="button button-block button-orange" ng-click="login(loginForm)" value="Log In"/>
            </div>
        </div>
    </ion-content>
</ion-view>
