<ion-view view-title="{{doctor.title}}">
    <ion-nav-bar class="bar-orange orange-light" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="{{ doctor.backState }}" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="orange-bg">

        <div class="card orange-card">
            <div class="text-center">
                <ion-spinner class="orange-loading-spinner" icon="dots"
                             ng-if="!doctor.doctorsPromise.$$state.status"></ion-spinner>
            </div>
            <form name="doctorForm" class="orange-form">
                <div class="item item-error" ng-if="doctor.error">
                    <p ng-repeat="error in doctor.errors"></p>
                </div>
                <div class="item item-body">
                    <dl class="dl-worksheet">
                        <dt>Name</dt>
                        <dd>{{ doctor.doctor.name }} <small ng-if="doctor.doctor.title">({{ doctor.doctor.title }})</small></dd>
                        <dt>Phone</dt>
                        <dd>{{ doctor.doctor.phone }}</dd>
                        <dt>Address</dt>
                        <dd class="pre-line">{{ doctor.doctor.address }}</dd>
                    </dl>
                    <label class="item-input">
                        <textarea name="notes" data-ng-model="doctor.doctor.notes" rows="5" placeholder="Notes (Optional)"></textarea>
                    </label>
                </div>
                <div class="item item-button">
                    <button class="button button-full button-orange" ng-click="doctor.save()">Save Doctor</button>
                </div>
            </form>
        </div>

    </ion-content>
</ion-view>
