<ion-view view-title="Today">
    <ion-nav-bar class="bar-orange orange-light" align-title="left">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>

        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-outline button-orange button-small button-profile">
                {{ profile.first_name }} {{ profile.last_name }}
            </button>
            <button class="button button-icon button-clear button-small ion-plus button-dose"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="orange-bg orange-light">
        <ion-refresher class="light-orange" pulling-text="Pull to refresh" on-refresh="today.refresh()">
        </ion-refresher>
        <div class="text-center">
            <ion-spinner class="spinner-orange-light" icon="dots"
                         ng-if="today.schedule === null"></ion-spinner>
        </div>

        <div class="text-center padding-top" ng-if="today.schedule.length === 0">
            <h3>Your schedule is empty</h3>
        </div>

        <div ng-if="today.schedule.length && filter.events.length" ng-repeat="filter in today.filters"
             class="schedule-item">
            <div class="row row-bottom schedule-header">
                <div class="col col-50 schedule-header-left" ng-bind="filter.title"></div>
                <div class="col col-50 schedule-header-right" ng-bind="filter.name"></div>
            </div>
            <div class="list list-inset list-schedule">
                <div class="item item-schedule"
                     ng-repeat="event in filter.events"
                     >

                    <div class="row row-center row-no-padding">

                        <div class="col col-75 med-title" ng-click="today.openModal(event)">
                            <p class="muted">
                                <small ng-bind="event.date|date:'HH:mm'"></small>
                            </p>
                            <p class="med-name" ng-bind="event.medication.name + ' (' + event.medication_id + ')'"></p>

                            <p class="med-rx" ng-bind="event.medication.brand"></p>

                        </div>
                        <!--<div class="col col-25 actions" ng-bind-html="filter.buttons | trusted">-->
                        <!--</div>-->
                        <div class="col col-25 actions" ng-switch="event.status">
                            <div ng-switch-when="skipped">
                                <i class="icon ion-ios-close dark-red"></i>
                            </div>
                            <div ng-switch-when="taken">
                                <i class="icon ion-ios-checkmark green"></i>
                            </div>
                            <div ng-switch-default>
                                <i class="icon ion-ios-checkmark-outline green" ng-click="today.confirmDose(event)"></i>
                                <i class="icon ion-ios-close-outline dark-red" ng-click="today.confirmDose(event, true)"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
