<ion-view view-title="{{doctorSearch.title}}">
    <ion-nav-bar class="bar-orange orange-light" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="app.doctors.list" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="orange-bg">
        <div class="card orange-card">
            <form name="doctorSearchForm" class="orange-form">
                <div class="item item-error"
                     ng-show="doctorSearchForm.$submitted && !doctorSearchForm.$valid">
                    <div ng-messages="doctorSearchForm.first.$error">
                        <p ng-message="required">First Name is required</p>
                    </div>
                    <div ng-messages="doctorSearchForm.last.$error">
                        <p ng-message="required">Last Name is required</p>
                    </div>
                </div>
                <div class="item item-body">
                    <label class="item-input">
                        <input type="text" name="first" ng-model="doctorSearch.name.first" placeholder="First Name" required/>
                    </label>
                    <label class="item-input">
                        <input type="text" name="last" ng-model="doctorSearch.name.last" placeholder="Last Name" required/>
                    </label>
                    <label class="item-input">
                        <input name="state" data-ng-model="doctorSearch.address.state" placeholder="State (Optional)"/>
                    </label>
                    <label class="item-input">
                        <input name="city" data-ng-model="doctorSearch.address.city" placeholder="City (Optional)" />
                    </label>
                </div>
                <div class="item item-button">
                    <button class="button button-full button-orange" ng-click="doctorSearch.search(doctorSearchForm)">Find Doctor</button>
                </div>
            </form>
        </div>

    </ion-content>
</ion-view>
