<ion-side-menus enable-menu-with-back-views="false" class="orange-menu">
    <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content scroll="false">
            <div class="avatar">
                <avatar patient="log"></avatar>
                <p>{{ log.first_name }} {{ log.last_name }}</p>
            </div>
            <ion-list>
                <ion-item menu-close ui-sref="app.today">
                    Today
                </ion-item>
                <ion-item menu-close ui-sref="app.notes.list">
                    Notes
                </ion-item>
                <ion-item menu-close ui-sref="app.medications">
                    Medications
                </ion-item>
                <ion-item menu-close ui-sref="app.doctors.list">
                    Doctors
                </ion-item>
                <ion-item menu-close ui-sref="app.pharmacies">
                    Pharmacies
                </ion-item>
            </ion-list>
            <div class="bottom-list">
                <ion-list>
                    <ion-item class="item-email">accountemail@domain.com</ion-item>
                    <ion-item menu-close ui-sref="app.logs">
                        Logs
                    </ion-item>
                    <ion-item menu-close ui-sref="app.notifications">
                        Notificaitons
                    </ion-item>
                    <ion-item menu-close ui-sref="app.settings">
                        Settings
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
