<ion-view view-title="View Note">
    <ion-nav-bar class="bar-orange orange-light" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg" padding="true">
            <h2 ng-bind="note.date|date:'MMMM d, h:mm a'"></h2>
            <h3 ng-bind="note.title"></h3>
            <p ng-bind="note.text"></p>
    </ion-content>
</ion-view>
