<ion-view view-title="NOTES">
    <ion-nav-bar class="bar-orange orange-light" align-title="left">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
            <button class="button button-outline button-orange button-small button-profile">Jon Berry</button>
            <button class="button button-icon button-clear button-small ion-plus button-dose" ui-sref="app.notes.add"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg" overflow-scroll="true">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="notes_list.refresh()"></ion-refresher>

        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!notes_list.notesPromise.$$state.status"></ion-spinner>
        </div>


        <ion-list class="list-clean" can-swipe="true" show-delete="notes_list.shouldShowDelete">
            <ion-item class="item-text-wrap" ng-repeat="note in notes_list.notes" ui-sref="app.notes.details({id: note.id})">
                <div class="block-with-subscribe">
                    <span class="text-header" ng-bind="note.date|date:'MMMM d, h:mm a'"></span>
                    <span class="text-basic">
                        {{ note.text | limitTo:notes_list.noteLimit }}{{ note.text.length > notes_list.noteLimit ? '...' : ''}}
                    </span>
                </div>

                <ion-option-button class="button-assertive option-control" ng-click="notes_list.removeNote(note)">
                    <i class="icon ion-trash-a"></i>
                </ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

