<ion-view title="Events">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left">
            <button ui-sref="app.medication.details" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg has-footer">
        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="medication.medication === null"></ion-spinner>
        </div>
        <ion-list ng-if="medication.medication" class="list orange-list">

            <ion-item class="item-title">
                <div class="row row-no-padding">
                    <div class="med-title col col-66">
                        <p class="med-name" ng-bind="medication.medication.name"></p>

                        <p class="med-rx" ng-bind="medication.medication.brand"></p>
                    </div>
                </div>
            </ion-item>

            <ion-item ng-repeat="event in events.events">
                <h2 class="text-title" ng-bind="($index + 1|toWords:true) + ' event'"></h2>
                <p class="info" ng-bind="event.text"></p>

                <div ng-show="true" class="orange-form">
                    <p class="text-muted">When do you take this medication the {{$index + 1|toWords:true}} time?</p>
                    <div button-bar="events.eventTypes" data-ng-model="event.eventType"></div>

                    <div ng-if="event.eventType === 'meal'">
                        <p class="text-muted">Select event</p>

                        <div button-bar="events.when" data-ng-model="event.when"></div>

                        <p class="text-muted">Select event</p>

                        <div button-bar="events.meals" data-ng-model="event.event"></div>
                    </div>

                    <div ng-if="event.eventType === 'exact'">
                        <p class="text-muted">At what time?</p>
                        <label class="item-input">
                            <input type="text" placeholder="Time" ng-model="event.time" timefield/>
                        </label>
                    </div>

                    <div ng-if="event.eventType === 'sleep'">
                        <p class="text-muted">Select event</p>

                        <div button-bar="events.sleep" data-ng-model="event.event"></div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bottom-buttons">
        <button class="button button-full col col-no-padding button-orange" ng-click="events.print()">Save</button>
    </div>
</ion-view>
