<ion-view view-title="{{ note_details.title }}">
    <ion-nav-bar class="bar-orange orange-light" align-title="left">
        <ion-nav-buttons side="left" >
            <button ui-sref="app.notes.list" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
            <button class="button button-outline button-orange button-small button-profile">Jon Berry</button>
            <button class="button button-clear button-small button-dose"
                    ui-sref="app.notes.update({id: note_details.note.id})">Edit</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg" overflow-scroll="true">

        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!note_details.notesPromise.$$state.status || !note_details.medicationsPromise.$$state.status"></ion-spinner>
        </div>

        <div class="item-padding">
            <div class="block-with-subscribe">
                <span class="text-header" ng-bind="note_details.note.date|date:'MMMM d, h:mm a'"></span>
                <span class="text-basic" ng-bind="note_details.note.text">
                    {{ note.text | limitTo:notes_list.noteLimit }}{{ note.text.length > notes_list.noteLimit ? '...' : ''}}
                </span>
            </div>
        </div>

        <div class="list list-clean medication-list">
            <div class="item medication-item" ng-repeat="medication in note_details.note.medications">
                {{ medication.name }}
                <div>
                    <strong>{{ medication.brand | uppercase }}</strong>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
