<ion-view title="Add Existing Logs">
    <ion-nav-bar class="bar-orange" align-title="center">
    </ion-nav-bar>
    <ion-content padding="true">
        <div class="item-large-icon text-center">
            <i class="icon ion-checkmark-circled"></i>
        </div>

        <div class="card orange-card">
            <div class="item item-text-wrap">
                <h3 class="text-center">Request Sent</h3>

                <p>A request has been sent to <strong>jberry@gmail.com</strong> for approval. Once approved, new logs
                    will automatically be added to you logs list.</p>
            </div>
            <div class="item item-button">
                <button class="button button-full button-orange" ui-sref="logs">Continue</button>
            </div>
        </div>
    </ion-content>
</ion-view>
