<ion-view title="New Medication">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <div class="list orange-list has-bottom-buttons">
            <div class="item item-title med-title">
                <p class="med-name" ng-bind="meds.medication.name"></p>

                <p class="med-rx" ng-bind="meds.medication.brand"></p>
            </div>

            <div class="item item-text-wrap" ng-repeat="event in meds.events">
                <h2 class="text-title" ng-bind="(event.n|toWords:true) + ' event'"></h2>

                <p class="info" ng-bind="meds.getEventText(event)"></p>
            </div>
            <div class="item item-text-wrap orange-form" ng-if="meds.event">
                <h2 class="text-title" ng-bind="(meds.event.n|toWords:true) + ' event'"></h2>

                <p class="text-muted">When do you take this medication the second time?</p>

                <div button-bar="meds.eventTypes" data-ng-model="meds.event.eventType"></div>

                <div ng-if="meds.event.eventType === 'time'">
                    <p class="text-muted">At what time?</p>
                    <label class="item-input">
                        <input type="text" placeholder="Time" ng-model="meds.event.time"/>
                    </label>
                </div>
                <div ng-if="meds.event.eventType === 'meal'">
                    <p class="text-muted">Select event</p>

                    <div button-bar="meds.when" data-ng-model="meds.event.when"></div>

                    <p class="text-muted">Select event</p>

                    <div button-bar="meds.meals" data-ng-model="meds.event.event"></div>
                </div>
                <div ng-if="meds.event.eventType === 'sleep'">
                    <p class="text-muted">Select event</p>

                    <div button-bar="meds.when" data-ng-model="meds.event.when"></div>

                    <p class="text-muted">Select event</p>

                    <div button-bar="meds.sleep" data-ng-model="meds.event.event"></div>
                </div>
                <p class="text-muted">How many units?</p>
                <label class="item-input">
                    <input type="number" ng-model="meds.event.units" placeholder="Quantity"/>
                </label>


                <p class="text-muted">Send a reminder notification?</p>
                <label class="item-input item-select">
                    <select>
                        <option value="never" selected>Never</option>
                        <option value="15">15 Minutes Before</option>
                        <option value="30">30 Minutes Before</option>
                        <option value="60">1 Hour Before</option>
                    </select>
                </label>
            </div>
        </div>
    </ion-content>
    <div class="bottom-buttons">
        <button class="button button-full button-orange" ng-click="meds.scheduleEvent()"
                ng-bind="meds.event ? 'Schedule': 'Save'"></button>
    </div>
</ion-view>
