<ion-view title="New Medication">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <div class="list orange-list has-bottom-buttons">
            <div class="item item-title med-title">
                <p class="med-name">Strattera (18mg)</p>
                <p class="med-rx">Atmoxetine</p>
            </div>
            <div class="item item-text-wrap">
                <h2>First Event</h2>
                <p class="info">Three units at 9:00am daily, taken without food</p>
            </div>
            <div class="item item-text-wrap">
                <h2>Second Event</h2>
                <p class="info">One unit with lunch</p>
            </div>
            <div class="item item-text-wrap">
                <h2>Third Event</h2>
                <p class="info">One unit before bed, taken with food</p>
            </div>
        </div>
    </ion-content>
    <div class="bottom-buttons">
        <button class="button button-full button-orange" ui-sref="logs-setup-medications">Confirm</button>
    </div>
</ion-view>
