<ion-view title="{{ title }}">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true">
        <div class="card orange-card with-avatar">
            <div class="orange-avatar">
                <div class="item-log" ng-click="selectPhoto()">
                    <div ng-if="!log.avatarUrl" class="log-avatar">
                        <div class="log-caption">+</div>
                    </div>
                    <img ng-if="log.avatarUrl" ng-src="{{log.avatarUrl}}" class="log-avatar-img" alt=""/>
                </div>
            </div>
            <div class="item item-body">
                <form class="orange-form">
                    <p ng-if="log.me" class="item-input">{{ log.first_name }} {{ log.last_name }}</p>
                    <label ng-if="!log.me" class="item-input">
                        <input type="text" ng-model="log.fullName" placeholder="Full Name"/>
                    </label>
                    <label class="item-input">
                        <input type="text"
                               ng-model="log.birthdate"
                               placeholder="Date of Birth (Optional)"
                               datefield/>
                    </label>
                    <label class="item-input">
                        <input type="tel" ng-model="log.phone" placeholder="Phone Number (Optional)"/>
                    </label>
                    <!--<p class="item-input" ng-bind="log.birthdate" data-ng-model="log.birthdate" datetime="date"></p>-->
                    <label class="item item-input item-select">
                        <select data-ng-model="log.sex" ng-class="{'placeholder': !log.sex}">
                            <option value="" disabled selected>Gender (Optional)</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                            <option value="unspecified">Unspecified</option>
                        </select>
                    </label>
                </form>
            </div>
            <div class="item item-button">
                <button class="button button-full button-orange" ng-click="saveLog()">Add Log</button>
            </div>

        </div>

    </ion-content>
</ion-view>
