<ion-view title="Add My Log">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true">
        <div class="card orange-card with-avatar">
            <div class="orange-avatar">
                <div class="item-log">
                    <div class="log-avatar">
                        <div class="log-caption">+</div>
                    </div>

                </div>
            </div>
            <div class="item item-body">
                <form class="orange-form">
                    <p class="item-input">John Berry</p>
                    <label class="item-input">
                        <input type="text" placeholder="Date of Birth (Optional)"/>
                    </label>
                    <label class="item-input">
                        <input type="text" placeholder="Gender (Optional)"/>
                    </label>
                </form>
            </div>
            <div class="item item-button">
                <button class="button button-full button-orange">Add Log</button>
            </div>

        </div>

    </ion-content>
</ion-view>
