<ion-view title="New Medication">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <div class="list orange-list has-bottom-buttons">
            <div class="item item-title med-title">
                <p class="med-name" ng-bind="meds.medication.name"></p>

                <p class="med-rx" ng-bind="meds.medication.brand"></p>
            </div>
            <div class="item item-text-wrap">
                <p class="text-muted">When is this medicaiton taken?</p>

                <div class="button-bar">
                    <a class="button"
                       ng-class="{'active' : meds.medication.schedule.as_needed && !meds.medication.schedule.regularly}"
                       ng-click="meds.setScheduleType('as_needed')">As Needed</a>
                    <a class="button"
                       ng-class="{'active' : !meds.medication.schedule.as_needed && meds.medication.schedule.regularly}"
                       ng-click="meds.setScheduleType('regularly')">On a Schedule</a>
                    <a class="button"
                       ng-class="{'active' : meds.medication.schedule.as_needed && meds.medication.schedule.regularly}"
                       ng-click="meds.setScheduleType('both')">Both</a>
                </div>
            </div>
            <div ng-if="meds.medication.schedule.regularly" class="item item-text-wrap orange-form">
                <p class="text-muted">For how long</p>

                <div class="button-bar">
                    <a class="button" ng-class="{'active' : meds.medication.schedule.until.type === 'forever'}"
                       ng-click="meds.setUntil('forever')">Ongoing</a>
                    <a class="button" ng-class="{'active' : meds.medication.schedule.until.type === 'number'}"
                       ng-click="meds.setUntil('number')"># of Times</a>
                    <a class="button" ng-class="{'active' : meds.medication.schedule.until.type === 'date'}"
                       ng-click="meds.setUntil('date')">Until Set Date</a>
                </div>

                <label ng-if="meds.medication.schedule.until.type === 'number'" class="item-input">
                    <input type="number"
                           ng-model="meds.medication.schedule.until.stop"
                           placeholder="Number"/>
                </label>

                <label ng-if="meds.medication.schedule.until.type === 'date'" class="item-input">
                    <input type="text"
                           ng-model="meds.medication.schedule.until.stop"
                           placeholder="End Date"
                           datefield/>
                </label>
            </div>
            <div ng-if="meds.medication.schedule.regularly" class="item item-text-wrap">
                <p class="text-muted">For how long</p>

                <div class="button-bar">
                    <a class="button" ng-class="{'active' : meds.medication.schedule.frequency.unit === 'day'}" ng-click="meds.setFrequency('dayily')">Dayily</a>
                    <a class="button" ng-class="{'active' : meds.medication.schedule.frequency.unit === 'week'}" ng-click="meds.setFrequency('weekly')">Weekly</a>
                    <a class="button" ng-class="{'active' : meds.medication.schedule.frequency.unit === 'month'}"
                       ng-click="meds.setFrequency('monthly')">Monthly</a>
                </div>
                <div ng-if="meds.medication.schedule.frequency.unit === 'week'">
                    <p class="text-muted">Which days?</p>

                    <div class="button-bar">
                        <a class="button" ng-class="{'active' : wd == 1}" ng-click="wd = 1">SUN</a>
                        <a class="button" ng-class="{'active' : wd == 2}" ng-click="wd = 2">MON</a>
                        <a class="button" ng-class="{'active' : wd == 3}" ng-click="wd = 3">TUE</a>
                        <a class="button" ng-class="{'active' : wd == 4}" ng-click="wd = 4">WED</a>
                        <a class="button" ng-class="{'active' : wd == 5}" ng-click="wd = 5">THU</a>
                        <a class="button" ng-class="{'active' : wd == 6}" ng-click="wd = 6">FRI</a>
                        <a class="button" ng-class="{'active' : wd == 7}" ng-click="wd = 7">SAT</a>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <p class="text-muted">Take with food?</p>
                <div class="button-bar">
                    <a class="button" ng-class="{'active' : meds.medication.schedule.take_with_food === true}"
                       ng-click="meds.medication.schedule.take_with_food = true">Yes</a>
                    <a class="button" ng-class="{'active' : meds.medication.schedule.take_with_food === false}"
                       ng-click="meds.medication.schedule.take_with_food = false">No</a>
                    <a class="button" ng-class="{'active' : meds.medication.schedule.take_with_food === null}"
                       ng-click="meds.medication.schedule.take_with_food = null">Doesn't Matter</a>
                </div>
                <div button-bar="meds.withFood" data-ng-model="meds.medication.schedule.take_with_food"></div>
            </div>
            <div ng-if="meds.medication.schedule.regularly" class="item item-footer orange-form item-text-wrap">
                <p class="text-muted">How many times a day do you take this medicine?</p>
                <label class="item-input">
                    <input type="number" ng-model="meds.medicationTimeEvents" placeholder="Number"/>
                </label>
            </div>
        </div>
    </ion-content>
    <div class="bottom-buttons">
        <button class="button button-full button-orange" ng-click="meds.setupEvents()">Continue</button>
    </div>
</ion-view>
