<ion-view title="Add Logs">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="right">
            <button class="button button-clear" ui-sref="logs-setup">Done</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg padding-top">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="update()">
        </ion-refresher>
        <div class="list list-clean">
            <div class="orange-logs item item-text-wrap">
                <div class="row row-no-padding" ng-repeat="row in logs">
                    <div class="col col-33" ng-repeat="log in row">
                        <div class="item-log">
                            <div class="log-avatar orange-bg">
                                <div class="log-caption">{{ log.first_name[0] }}{{ log.last_name[0] }}</div>
                            </div>
                            <div class="log-title">{{ log.first_name }}<br/>{{ log.last_name }}</div>
                        </div>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div class="col col-33">
                        <div class="item-log" ui-sref="logs-add-my">
                            <div class="log-avatar">
                            </div>
                            <div class="log-title">My<br>Log</div>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="item-log" ui-sref="logs-add">
                            <div class="log-avatar">
                            </div>
                            <div class="log-title">New<br>Log</div>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="item-log" ui-sref="logs-request">
                            <div class="log-avatar">
                            </div>
                            <div class="log-title">Existing<br>Log</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
