<ion-view title="Add Medications">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ui-sref="logs-setup">Done</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true">
        <div class="card orange-card with-avatar">
            <div class="orange-avatar">
                <div class="item-log">
                    <div class="item-log">
                        <avatar patient="meds.log"></avatar>
                    </div>
                </div>
            </div>
            <div class="item item-error" ng-if="meds.oauthError">
                <p ng-bind="meds.oauthError"></p>
            </div>
            <div class="item item-body">

                <p class="form-title">Automatic Import</p>
            </div>
            <ion-item ng-repeat="medication in meds.importedMedications"
                      ng-if="meds.importedMedications.length"
                        ng-click="meds.configImportedMedication(medication)">
                <div class="med-title">
                    <p class="med-name" ng-bind="medication.name"></p>
                    <p class="med-rx" ng-bind="medication.brand"></p>
                </div>
            </ion-item>
            <div class="item item-button">
                <button class="button button-full button-orange" ng-click="meds.getSMARTToken()">Import</button>
            </div>
        </div>
        <div class="card orange-card">
            <div class="item item-body">
                <p class="form-title">Manual Entry</p>
            </div>
            <ion-item ng-repeat="medication in meds.medications">
                <div class="med-title">
                    <p class="med-name" ng-bind="medication.name"></p>
                    <p class="med-rx" ng-bind="medication.brand"></p>
                </div>
            </ion-item>
            <div class="item item-button">
                <button class="button button-full button-orange" ui-sref="onboarding-log.medications.search">Add Medication</button>
            </div>
        </div>

    </ion-content>
</ion-view>
