<ion-side-menus enable-menu-with-back-views="false" class="orange-menu">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-orange orange-light" align-title="left">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>

            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-outline button-orange button-small button-profile">Jon Berry</button>
                <button class="button button-icon button-clear button-small ion-plus button-dose"></button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content scroll="false">
            <div class="avatar">
                <div class="avatar-img">

                </div>
                <p>Jon Berry</p>
            </div>
            <ion-list>
                <ion-item menu-close ui-sref="app.today">
                    Today
                </ion-item>
                <ion-item menu-close ui-sref="app.components">
                    Notes
                </ion-item>
                <ion-item menu-close ui-sref="app.components">
                    Medications
                </ion-item>
                <ion-item menu-close ui-sref="app.components">
                    Doctors
                </ion-item>
                <ion-item menu-close ui-sref="app.components">
                    Pharmacies
                </ion-item>
            </ion-list>
            <div class="bottom-list">
                <ion-list>
                    <ion-item class="item-email">accountemail@domain.com</ion-item>
                    <ion-item menu-close ui-sref="app.components">
                        Logs
                    </ion-item>
                    <ion-item menu-close ui-sref="app.components">
                        Notificaiton
                    </ion-item>
                    <ion-item menu-close ui-sref="app.components">
                        Settings
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
