<ion-view view-title="Welcome" class="onboarding">
    <ion-content class="orange-bg" scroll="false">
        <ion-slide-box>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>
                    <p>Onboarding screen #1</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>
                    <p>Onboarding screen #2</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>
                    <p>Onboarding screen #3</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>
                    <p>Onboarding screen #4</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>
                    <p>Onboarding screen #5</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>
                    <p>Onboarding screen #6</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>
                    <p>Onboarding screen #7</p>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <ion-footer-bar class="bar-orange">
            <button class="button create-account" ui-sref="account-create">Create account</button>
            <button class="button button-orange sign-up" ui-sref="account-login">Log In</button>
    </ion-footer-bar>
</ion-view>
