<ion-view hide-nav-bar="false" class="light-bg" view-title="As Needed Add">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="app.today.as_needed" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!asNeededAdd.medication"></ion-spinner>
        </div>

        <div class="padding">
            <ion-list class="list-last-open list-details orange-list">
                <ion-item>
                    <medication-block medication-name="asNeededAdd.medication.name"
                                      medication-brand="asNeededAdd.medication.brand"></medication-block>
                    <div class="item-label">
                        <div class="block-with-subscribe">
                            <div class="text-basic text-compressed">Due at {{ asNeededAdd.date.format(settings.timeFormat) }}</div>
                            <div class="text-basic text-compressed">{{ asNeededAdd.date.format('MM/DD/YYYY') }}</div>
                        </div>
                    </div>
                </ion-item>

                <ion-item class="orange-form item-text-wrap">
                    <p class="text-basic" ng-bind="asNeededAdd.takenText"></p>
                    <br>
                    <div class="clearfix"></div>
                    <p class="text-muted">Modify this dose?</p>

                    <button-spinner model="asNeededAdd.dose.dose.quantity" min-value=1 subscribe="{{asNeededAdd.dose.dose.unit}}"></button-spinner>
                    <br>
                    <label class="checkbox checkbox-square checkbox-orange">
                        <input type="checkbox" name="alreadyTaken" ng-model="asNeededAdd.taken" required/>
                        Set exact time
                    </label>
                    <br><br>
                    <div class="row row-no-padding" ng-if="asNeededAdd.taken">

                        <div class="col col-60 padding-right" style="padding-right: 10px;">
                            <p class="text-muted">Date</p>
                            <label class="item-input">
                                <input type="text" required name="tookDate" ng-model="asNeededAdd.tookDate"
                                       placeholder="Date" datefield/>
                            </label>
                        </div>
                        <div class="col col-40 padding-left">
                            <p class="text-muted">Time</p>
                            <label class="item-input">
                                <input type="text" required name="tookTime"
                                       ng-model="asNeededAdd.tookTime" placeholder="Time" timefield/>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <label class="item-input padding-top">
                            <textarea name="text"
                                      rows="8"
                                      placeholder="Add a note..."
                                      data-ng-model="asNeededAdd.dose.notes"></textarea>
                    </label>
                </ion-item>
            </ion-list>
        </div>

        <div class="clearfix"></div>
    </ion-content>
    <div class="bottom-buttons" ng-hide="asNeededAdd.hideButtons">
        <button class="button button-small button-full col button-balanced" ng-click="asNeededAdd.createDose()">Take Medication</button>
    </div>
</ion-view>
