<ion-view view-title="As Needed">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="app.today.schedule" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!asNeeded.medicationsPromise.$$state.status"></ion-spinner>
        </div>

        <ion-refresher pulling-text="Pull to refresh" on-refresh="asNeeded.refresh()">
        </ion-refresher>

        <ion-list class="list-clean" can-swipe="true" >
            <ion-item class="" ng-repeat="medication in asNeeded.medications" ui-sref="app.today.as_needed_add({id: medication.id})">

                <div class="block-with-subscribe">
                    <span class="text-basic" ng-bind="medication.brand"></span>
                    <span class="text-medication-brand" ng-bind="medication.name"></span>
                </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>