<ion-modal-view>
    <ion-header-bar class="bar bar-orange" align-title="center">
        <h1 class="title">Dose Details</h1>
        <button ng-click="today.closeModal()" class="button back-button buttons button-clear header-item">
            Close
        </button>
    </ion-header-bar>
    <ion-content padding="true">
        <div class="list orange-list">
            <div class="item item-title">
                <medication-block medication-name="today.event.medication.name"
                                  medication-brand="today.event.medication.brand"></medication-block>
            </div>
            <div class="item item-text-wrap orange-form">
                <p ng-bind="today.event.text">One unit at 9:00am, taken without food</p>
                <label class="item-input padding-top" ng-show="!today.showDetails">
                        <textarea name="text"
                                  rows="8"
                                  placeholder="Add a note..."
                                  data-ng-model="today.notes"
                                ></textarea>
                </label>
                <div ng-show="today.showDetails">
                    <p class="detail-item" ng-bind="(today.event.took_medication ? 'Taken: ' : 'Skipped: ') + (today.event.dose.date|date:'hh:mm a'|lowercase)"></p>
                    <p class="detail-item" ng-bind="today.notes"></p>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bottom-buttons" ng-show="!today.showDetails">
        <button class="button button-small button-full col button-balanced" ng-click="today.confirmDose(today.event)">Take Medication</button>
        <button class="button button-small button-full col button-assertive" ng-click="today.confirmDose(today.event, true)">Skip Medication</button>
    </div>
</ion-modal-view>
