<ion-modal-view>
    <ion-header-bar class="bar bar-orange" align-title="center">
        <h1 class="title">Dose Details</h1>
        <button ng-click="today.closeModal(today.showDetails)" class="button back-button buttons button-clear header-item">
            {{today.notes ? 'Cancel' : 'Done' }}
        </button>
    </ion-header-bar>
    <ion-content padding="true" style="min-height: 100%;">
        <div class="list orange-list">
            <div class="item item-title">
                <medication-block medication-name="today.event.medication.name"
                                  medication-brand="today.event.medication.brand"></medication-block>
            </div>
            <div class="item item-text-wrap orange-form">
                <p ng-bind="today.event.text"></p>

                <div ng-show="!today.showDetails && today.isToday">
                    <label class="checkbox checkbox-square checkbox-orange">
                        <input type="checkbox" name="alreadyTaken" ng-model="today.event.taken" required/>
                        I've already taken this medication
                    </label>
                    <div class="clearfix"></div>

                    <div class="row row-no-padding" ng-if="today.event.taken">

                        <div class="col col-60 padding-right" style="padding-right: 10px;">
                            <p class="text-muted">Date</p>
                            <label class="item-input">
                                <input type="text" required name="tookDate" ng-model="today.event.tookDate"
                                       placeholder="Date" datefield/>
                            </label>
                        </div>
                        <div class="col col-40 padding-left">
                            <p class="text-muted">Time</p>
                            <label class="item-input">
                                <input type="text" required name="tookTime"
                                       ng-model="today.event.tookTime" placeholder="Time" timefield/>
                            </label>
                        </div>
                    </div>
                    <label class="item-input padding-top">
                            <textarea name="text"
                                      rows="8"
                                      placeholder="Add a note..."
                                      data-ng-model="today.notes"
                                    ></textarea>
                    </label>

                </div>
                <div ng-show="!today.showDetails && !today.isToday">
                    <p class="detail-item" ng-bind="today.dose.notes"></p>
                </div>
                <div ng-show="today.showDetails">
                    <p class="detail-item" ng-bind="(today.event.took_medication ? 'Taken: ' : 'Skipped: ') + (today.event.dose.date|date:'hh:mm a'|lowercase)"></p>
                    <p class="detail-item" ng-bind="today.dose.notes"></p>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bottom-buttons" ng-show="!today.showDetails && !today.hideButtons">
        <button class="button button-small button-full col button-balanced" ng-click="today.confirmDose(today.event)">Take Medication</button>
        <button class="button button-small button-full col button-assertive" ng-click="today.confirmDose(today.event, true)">Skip Medication</button>
    </div>
</ion-modal-view>
