<ion-view hide-nav-bar="false" view-title="{{ pharmacies_add.title }}">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="orange-bg">
        <div class="card orange-card">
            <form class="orange-form" name="pharmacyAdd">

                <div class="item item-error"
                     ng-if="pharmacyAdd.$submitted && !pharmacyAdd.$valid || pharmacies_add.errors.length">
                    <p ng-repeat="error in pharmacies_add.errors" ng-bind="error"></p>
                    <div ng-messages="pharmacyAdd.name.$error">
                        <p ng-message="required">Name is required</p>
                    </div>
                </div>

                <div class="item item-body">
                    <label class="item-input">
                        <input type="text" data-ng-model="pharmacies_add.pharmacy.name" name="name" placeholder="Name" required />
                    </label>
                    <label class="item-input">
                        <input type="tel" data-ng-model="pharmacies_add.pharmacy.phone" name="phone" placeholder="Phone" />
                    </label>
                    <label class="item-input">
                        <textarea name="address" data-ng-model="pharmacies_add.pharmacy.address" rows="3" placeholder="Address"></textarea>
                    </label>
                    <label class="item-input">
                        <textarea name="notes" data-ng-model="pharmacies_add.pharmacy.notes" rows="5" placeholder="Notes"></textarea>
                    </label>
                    <label class="item-input">
                        <button class="button button-dark button-full" ng-click="pharmacies_add.hoursModal.show()">Working hours</button>
                    </label>
                </div>
            </form>
            <div class="item item-button">
                <button type="submit" class="button button-full button-orange"
                        ng-click="pharmacies_add.save(pharmacyAdd)">Save Pharmacy</button>
            </div>
        </div>
    </ion-content>
</ion-view>
