<ion-view hide-nav-bar="false" view-title="Pharmacy Details">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="app.pharmacies.list" class="button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
            <button class="button button-clear button-small button-dose"
                    ui-sref="app.pharmacies.edit({id: pharmacy_details.pharmacy.id})">Edit</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">

        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!pharmacy_details.pharmacyPromise.$$state.status"></ion-spinner>
        </div>

        <div class="padding">
            <div class="block-with-subscribe">
                <div class="text-header" ng-bind="pharmacy_details.pharmacy.name"></div>
            </div>
            <ion-list class="list-last-open list-details">
                <ion-item ng-if="pharmacy_details.pharmacy.address">
                    <span class="text-basic pre-line" ng-bind="pharmacy_details.pharmacy.address"></span>
                    <span class="item-label">
                        <span class="button text-title" ng-click="pharmacy_details.toMap()">DIRECTIONS</span>
                    </span>
                </ion-item>
                <ion-item ng-if="pharmacy_details.pharmacy.phone" class="text-container">
                    <span class="text-basic phone" ng-bind="pharmacy_details.pharmacy.phone"></span>
                    <span class="item-label">
                        <span class="button text-title" call-phone phone="{{ pharmacy_details.pharmacy.phone }}">CALL</span>
                    </span>
                </ion-item>
                <ion-item ng-if="pharmacy_details.pharmacy.notes">
                    <span class="text-basic" ng-bind="pharmacy_details.pharmacy.notes"></span>
                </ion-item>
            </ion-list>
            <div class="block-with-subscribe">
                <div class="text-header">Working Hours:</div>
            </div>
            <div class="pharmacy-details-hours-list">
                <div class="item" ng-repeat="day in pharmacy_details.days">
                    <div class="day"><strong>{{ day }}:</strong></div>
                     <span>
                         {{ pharmacy_details.pharmacy.hours[day.toLowerCase()]['open'] }}
                    - {{ pharmacy_details.pharmacy.hours[day.toLowerCase()]['close'] }}
                     </span>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
