<ion-view view-title="PHARMACIES" hide-nav-bar="false">
    <ion-nav-bar class="bar-orange orange-light main-bar" align-title="left">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <change-patient></change-patient>
            <button class="button button-icon button-clear button-small ion-plus button-dose"
                    ui-sref="app.pharmacies.add"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="pharmacies.refresh()">
        </ion-refresher>
        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!pharmacies.pharmaciesPromise.$$state.status"></ion-spinner>
        </div>
        <ion-list class="list-clean list-inset padding" can-swipe="true" show-delete="shouldShowDelete">
            <ion-item class="item-text-wrap" ng-repeat="pharmacy in pharmacies.pharmacies"
                      ng-click="pharmacies.pharmacyDetails(pharmacy)">
                <p><strong ng-bind="pharmacy.name"></strong></p>
                <p ng-bind="pharmacy.address"></p>

                <ion-option-button class="button-assertive option-control" ng-click="pharmacies.remove(pharmacy)">
                    <i class="icon ion-trash-a"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="pharmacies.isInfinite()" distance="{{ settings.defaultScrollDistance }}" on-infinite="pharmacies.loadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
