<ion-modal-view>
    <ion-header-bar class="bar bar-orange">
        <button ng-click="pharmacies_add.hoursModal.hide()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-arrow-left-c"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title">Working Hours</h1>
        <button ng-click="pharmacies_add.hoursModal.hide()" class="button buttons button-clear">
            Done
        </button>
    </ion-header-bar>
    <ion-content padding="true">
        <form class="orange-form">
            <ul class="list">
                <li class="item item-small-padding pharmacy-edit-hours" ng-repeat="day in pharmacies_add.days">
                    <label class="item-input item-input-wo-margin">
                        <span class="input-label input-label-wo-margin">{{ day }}</span>
                    </label>

                    <div class="item-input">
                        <input type="text" ng-model="pharmacies_add.pharmacy.hours[day.toLowerCase()].open"
                               timefield placeholder="Open">
                    </div>
                    <div class="item-input">
                        <input type="text" ng-model="pharmacies_add.pharmacy.hours[day.toLowerCase()].close"
                               timefield placeholder="Close">
                    </div>
                    <div class="item-input">
                        <button type="button" class="button button-full button-orange apply-button"
                            ng-click="pharmacies_add.applyHoursToAll(day.toLowerCase())">Apply to all</button>
                    </div>
                </li>
            </ul>
        </form>
    </ion-content>
</ion-modal-view>
