<ion-view view-title="{{settings.title}}" hide-nav-bar="false">
    <ion-nav-bar class="bar-orange orange-light main-bar" align-title="left">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear button-small" ng-click="settings.logout()">Sign Out</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">

    </ion-content>
</ion-view>
