<ion-view hide-nav-bar="false" view-title="Create Account">
    <ion-header-bar class="bar-orange" align-title="center">
        <button ui-sref="onboarding" class="button back-button button-clear header-item">
            <i class="icon ion-arrow-left-c"></i>
        </button>
        <div class="title">Create Account</div>
    </ion-header-bar>
    <ion-content padding="true" class="orange-bg">
        <div class="card orange-card">
            <form class="orange-form" name="signUpForm" ng-submit="signUp(signUpForm)">
            <div class="item item-error" ng-if="error">
                <div ng-messages="signUpForm.fullName.$error">
                    <p ng-message="required">Full Name is required</p>
                </div>

                <div ng-messages="signUpForm.email.$error">
                    <p ng-message="email || validateEmail">Invalid email address</p>
                    <p ng-message="required">Email address is required</p>
                </div>

                <div ng-messages="signUpForm.password.$error">
                    <p ng-message="required">Password is required</p>
                </div>

                <div ng-messages="signUpForm.confirmPassword.$error">
                    <p ng-message="required">Confirm Password is required</p>
                    <p ng-message="compareTo" class="pre-line">Password and password confirmation don't match</p>
                </div>

                <div ng-messages="signUpForm.phone.$error">
                    <p ng-message="required">Phone number is required</p>
                </div>
                <p ng-repeat="error in errors" ng-bind="error"></p>

            </div>
            <div class="item item-body">

                    <label class="item-input">
                        <input type="text" name="fullName" ng-model="user.fullName" placeholder="Full Name" required/>
                    </label>
                    <label class="item-input">
                        <input type="email" name="email" ng-model="user.email" placeholder="Email" required validate-email />
                    </label>
                    <label class="item-input">
                        <input type="tel" name="phone" ng-model="user.phone" placeholder="Phone Number" field-max-length="10" required/>
                    </label>

                    <label class="item-input">
                        <input type="password" name="password" ng-model="user.password" placeholder="Password" required/>
                    </label>
                    <label class="item-input">
                        <input type="password" name="confirmPassword"
                               ng-model="user.confirmPassword"
                               compare-to="user.password"
                               placeholder="Confirm Password" required/>
                    </label>
                    <label class="checkbox checkbox-square checkbox-orange">
                        <input type="checkbox" name="agreement" ng-model="user.agreement" required/>
                    </label>
                    <div class="agree-div">I agree to the <p ng-click="goToTerms()">Terms of Use</p></div>

            </div>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" value=""/>
            </form>
            <div class="item item-button">
                <button class="button button-full button-orange" ng-click="signUp(signUpForm)">Sign Up</button>
            </div>
        </div>
    </ion-content>
</ion-view>
