<ion-view view-title="LOGS" hide-nav-bar="false">
    <ion-nav-bar class="bar-orange orange-light main-bar" align-title="left">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="update(true)">
        </ion-refresher>
        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots" ng-show="!menu_logs.patientPromise.$$state.status"></ion-spinner>
        </div>
        <div class="list list-clean">
            <div class="orange-logs item item-text-wrap">
                <div class="row row-no-padding" ng-repeat="item in menu_logs.logList">
                    <div class="col col-33" ng-repeat="log in item">
                        <div class="item-log" ng-click="menu_logs.details(log)">
                            <avatar patient="log"></avatar>
                            <div class="log-title">
                                <p ng-bind="log.first_name"></p>
                                <p ng-bind="log.last_name"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <!--<div class="col col-33" ng-if="!withMe">-->
                        <!--<div class="item-log" ui-sref="app.logs.add_my">-->
                            <!--<div class="log-avatar">-->
                            <!--</div>-->
                            <!--<div class="log-title">My<br>Log</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col col-33">
                        <div class="item-log" ui-sref="app.logs.add">
                            <div class="log-avatar orange-bg add-avatar">
                            </div>
                            <div class="log-title">Add<br>New Log</div>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="item-log" ui-sref="app.logs.request">
                            <div class="log-avatar orange-bg import-avatar">
                            </div>
                            <div class="log-title">Import<br>Existing Log</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="hasMore()" distance="{{ settings.defaultScrollDistance }}" on-infinite="loadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
