<ion-view hide-nav-bar="false" view-title="Setup Log">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="{{ setup.backState }}" class="button back-button button-clear header-item" nav-direction="back">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ui-sref="app.today.schedule" ng-if="!!setup.logList.length">Done</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="orange-bg padding-top">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="update(true)">
        </ion-refresher>
        <p class="padding-x2">Here you can add the medications & habits for each log you created.
            This can be done via a BlueButton import, manual entry, or both.
            Pick a log to begin.</p>
        <div class="list list-clean orange-bg">
            <div class="orange-logs item item-text-wrap light orange-bg">
                <div class="row row-no-padding" ng-repeat="row in setup.logList">
                    <div class="col col-33" ng-repeat="log in row">
                        <div class="item-log" ng-click="habits(log)">
                            <avatar patient="log"></avatar>
                            <div class="log-title">{{ log.first_name }}<br/>{{ log.last_name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="hasMore()" distance="{{ settings.defaultScrollDistance }}" on-infinite="loadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
