<ion-view title="{{ title }}">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true">
        <div class="card orange-card" ng-hide="sent">
            <form class="orange-form" name="requestForm">
                <div class="item item-error" ng-if="errors.length">
                    <p ng-repeat="error in errors" ng-bind="error"></p>
                </div>
                <div class="item item-body">

                    <p ng-bind="description"></p>
                    <label class="item item-input">
                        <i ng-show="requestForm.email.$valid"
                           class="icon ion-ios-checkmark-outline icon-right"></i>
                        <i ng-show="requestForm.email.$dirty && !requestForm.email.$valid"
                           class="icon ion-ios-close-outline icon-right icon-red"></i>
                        <input type="email" placeholder="Account Email" ng-model="data.email" name="email" required validate-email />
                    </label>

                </div>
                <div class="item item-button">
                    <input type="submit"
                           class="button button-block button-orange"
                           ng-click="sendRequest(requestForm)"
                           value="{{ buttonTitle }}" />
                </div>
            </form>
        </div>
        <div ng-if="sent">
            <div class="item-large-icon text-center">
                <i class="icon ion-checkmark-circled"></i>
            </div>

            <div class="card orange-card">
                <div class="item item-text-wrap">
                    <h3 class="text-center">Request Sent</h3>

                    <p ng-if="!resetPassword">A request has been sent to <strong>{{data.email}}</strong>. Once approved, new logs
                        will automatically be added to you logs list.</p>
                    <p ng-if="resetPassword">New password sent to your e-mail</p>
                </div>
                <div class="item item-button">
                    <button class="button button-full button-orange" ui-sref="{{ logRequestNextState }}">Continue</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
