<ion-view hide-nav-bar="false" view-title="Add Habits">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="logs-setup" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="habits.submit()">Done</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true">
        <div class="card orange-card with-avatar">
            <div class="orange-avatar">
                <div class="item-log" ng-if="habits.log">
                    <avatar patient="habits.log"></avatar>
                </div>
            </div>
            <div class="item item-error" ng-if="habits.errors.length">
                <p ng-repeat="error in habits.errors" ng-bind="error"></p>
            </div>
            <div class="item item-body">
                <form class="orange-form" name="habits.habitsForm">
                    <label class="item-input item-stacked-label">
                        <span class="input-label">What time do you usually wake up?</span>
                        <input type="text" ng-model="habits.log.habits.wake" name="wake" timefield placeholder="Time" required/>
                    </label>
                    <label class="item-input item-stacked-label">
                        <span class="input-label">What time do you usually eat breakfast?</span>
                        <input type="text" ng-model="habits.log.habits.breakfast" name="breakfast" timefield placeholder="Time" required/>
                    </label>
                    <label class="item-input item-stacked-label">
                        <span class="input-label">What time do you usually eat lunch?</span>
                        <input type="text" ng-model="habits.log.habits.lunch" name="lunch" timefield placeholder="Time" required/>
                    </label>
                    <label class="item-input item-stacked-label">
                        <span class="input-label">What time do you usually eat dinner?</span>
                        <input type="text" ng-model="habits.log.habits.dinner" name="lunch" timefield placeholder="Time" required/>
                    </label>
                    <label class="item-input item-stacked-label">
                        <span class="input-label">What time do you usually go to bed?</span>
                        <input type="text" ng-model="habits.log.habits.sleep" name="sleep" timefield placeholder="Time" required/>
                    </label>
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>
