<ion-view title="New Medication">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left">
            <button ui-sref="onboarding-log.medications.list"
                    class="button back-button buttons button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="padding light-bg">
        <p class="form-title">Search</p>
        <form class="orange-form" name="searchForm">
            <label class="item-input">
                <input type="search" placeholder="Medication" ng-model="search.term" ng-change="search.search()"/>
            </label>
        </form>
        <ion-list class="list-clean">
            <ion-item class="text-center">
                <ion-spinner class="orange-loading-spinner" icon="dots"
                             ng-if="search.timer"></ion-spinner>
            </ion-item>
            <ion-item ng-show="search.suggestions.length" class="item-text-wrap">
                <h3>Suggestions:</h3>
            </ion-item>

            <ion-item ng-repeat="suggestion in search.suggestions"
                      ng-click="search.pickSuggestion(suggestion)">
                <div class="med-title">
                    <p class="med-name" ng-bind="suggestion"></p>
                </div>
            </ion-item>

            <ion-item ng-repeat="med in search.result"
                      ng-click="medication.pickMedication(med, $event)">

                <medication-block medication-name="med.name"
                                  medication-brand="med.brand"></medication-block>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
