<ion-view hide-nav-bar="false" view-title="{{ title }}">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="{{ backState }}" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" >
        <div class="card orange-card with-avatar">
            <div class="orange-avatar">
                <div class="item-log" ng-click="iconModal.show()">
                    <div ng-if="!editLog.avatarUrl && !editMode" class="log-avatar">
                        <div class="log-caption">+</div>
                    </div>
                    <img ng-if="editLog.avatarUrl" ng-src="{{editLog.avatarUrl}}" class="log-avatar-img" alt=""/>
                    <avatar patient="editLog" ng-if="editLog.avatar && editMode && !editLog.avatarUrl"></avatar>
                </div>
            </div>
            <div class="item item-body">
                <form class="orange-form" name="patientForm">
                    <div class="item item-error"
                         ng-if="patientForm.$submitted && !patientForm.$valid || errors.length">
                        <div ng-messages="patientForm.name.$error" ng-if="patientForm.$submitted">
                            <p ng-message="required">Full Name is required</p>
                        </div>
                        <p ng-repeat="error in errors" ng-bind="error"></p>
                    </div>
                    <p ng-if="editLog.me" class="item-input">{{ editLog.first_name }} Foo {{ editLog.last_name }}</p>
                    <label ng-if="!editLog.me" class="item-input">
                        <input type="text" ng-model="editLog.fullName" placeholder="Full Name" name="name" required/>
                    </label>
                    <label class="item-input">
                        <input type="text"
                               ng-model="editLog.birthdate"
                               placeholder="Date of Birth (Optional)"
                               max-date-now="false"
                               datefield/>
                    </label>
                    <label class="item-input">
                        <input type="tel" ng-model="editLog.phone" field-max-length="10" placeholder="Phone Number (Optional)"/>
                    </label>
                    <!--<p class="item-input" ng-bind="editLog.birthdate" data-ng-model="editLog.birthdate" datetime="date"></p>-->
                    <label class="item item-input item-select">
                        <select data-ng-model="editLog.sex" ng-class="{'placeholder': !editLog.sex}">
                            <option value="" disabled>Gender (Optional)</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                            <option value="unspecified">Unspecified</option>
                        </select>
                    </label>
                    <label class="item-input" ng-if="withHabits">
                        <button class="button button-dark button-full" ng-click="habitsModal.show()">Habits</button>
                    </label>
                </form>
            </div>
            <div class="item item-button">
                <button class="button button-full button-orange" ng-click="checkForm(patientForm) && saveLog()">{{ button_title }}</button>
            </div>

        </div>

    </ion-content>
</ion-view>
