<ion-view view-title="MEDICATIONS" hide-nav-bar="false">
    <ion-nav-bar class="bar-orange orange-light main-bar" align-title="left">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <change-patient></change-patient>
<button class="button button-icon button-clear button-small ion-plus button-dose" ng-click="medications.openModal()"></button>
                   </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="medications.refresh()"></ion-refresher>

        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="medications.medications === null"></ion-spinner>
        </div>

        <ion-list>
            <ion-item ng-repeat="medication in medications.medications" ui-sref="app.medication.details({id: medication.id})">
                <div class="med-title">
                    <p class="med-name" ng-bind="medication.brand"></p>
                    <p class="med-rx" ng-bind="medication.name"></p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
