<ion-view view-title="MEDICATIONS" hide-nav-bar="false">
    <ion-nav-bar class="bar-orange orange-light main-bar" align-title="left">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <change-patient></change-patient>
            <button class="button button-icon button-clear button-small ion-plus button-dose"
                    ng-click="medications.showSearchModal()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="medications.refresh()"></ion-refresher>

        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!medications.medicationsPromise.$$state.status"></ion-spinner>
        </div>

        <ion-list ng-class="(medications.medications.paused.length || medications.medications.archived.length) ? 'list-last-open' : ''">
            <ion-item ng-repeat="medication in medications.medications.active" ng-click="medications.details(medication, $event)">
                <medication-block medication-name="medication.name"
                                  medication-brand="medication.brand"></medication-block>
            </ion-item>
        </ion-list>

        <div class="paused-container" ng-if="medications.medications.paused.length">
            <p class="form-title padding" style="margin-top:30px">Paused</p>
            <ion-list ng-class="(medications.medications.archived.length) ? 'list-last-open' : ''">
                <ion-item ng-repeat="medication in medications.medications.paused" ng-click="medications.details(medication, $event)">
                    <medication-block medication-name="medication.name"
                                      medication-brand="medication.brand"></medication-block>
                </ion-item>
            </ion-list>
        </div>

        <div class="archived-container" ng-if="medications.medications.archived.length">
            <p class="form-title padding" style="margin-top:30px">Archived</p>
            <ion-list>
                <ion-item ng-repeat="medication in medications.medications.archived" ng-click="medications.details(medication, $event)">
                    <medication-block medication-name="medication.name"
                                      medication-brand="medication.brand"></medication-block>
                </ion-item>
            </ion-list>
        </div>


        <!--<ion-infinite-scroll ng-if="medications.hasMore()" distance="{{ settings.defaultScrollDistance }}"-->
                             <!--on-infinite="medications.loadMore()">-->
        <!--</ion-infinite-scroll>-->
    </ion-content>
</ion-view>
