<ion-modal-view>
    <ion-header-bar class="bar bar-orange">
        <h1 class="title">Medications</h1>

        <button ng-click="notes_add.modal.hide()" class="button back-button buttons button-clear header-item">
            Done
        </button>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item item-checkbox" ng-repeat="med in notes_add.medications">
                <label class="checkbox">
                    <input class="checkbox-orange" type="checkbox"
                           ng-model="med.checked"
                           ng-change="notes_add.medicationChangeEvent()"/>
                </label>

                <div class="block-with-subscribe">
                    <span class="text-basic" ng-bind="med.name"></span>
                    <span class="text-medication-brand" ng-bind="med.brand"></span>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-modal-view>
