<ion-view view-title="NOTES" hide-nav-bar="false">
    <ion-nav-bar class="bar-orange orange-light main-bar" align-title="left">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
            <change-patient></change-patient>
            <button class="button button-icon button-clear button-small ion-plus button-dose" ui-sref="app.notes.add"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="notes_list.refresh()"></ion-refresher>

        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!notes_list.itemsPromise.$$state.status"></ion-spinner>
        </div>


        <ion-list can-swipe="true">
            <ion-item class="item-text-wrap" ng-repeat="note in notes_list.items" ng-click="notes_list.details(note)">
                <div class="block-with-subscribe">
                    <div class="text-header" ng-bind="note.date|date:'MMMM d, h:mm a'"></div>
                    <div class="text-basic" ng-bind="note.text"></div>
                </div>

                <ion-option-button class="button-assertive option-control" ng-click="notes_list.remove(note)">
                    <i class="icon ion-trash-a"></i>
                </ion-option-button>

            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="notes_list.hasMore()" distance="{{ settings.defaultScrollDistance }}" on-infinite="notes_list.loadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>

