<ion-view hide-nav-bar="false" view-title="{{ note_details.title }}">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="app.notes.list" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
            <button class="button button-clear button-small button-dose"
                    ui-sref="app.notes.update({id: note_details.note.id})">Edit</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg" overflow-scroll="true">

        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!note_details.notesPromise.$$state.status || !note_details.medicationsPromise.$$state.status"></ion-spinner>
        </div>

        <div class="item-padding">
            <div class="block-with-subscribe">
                <div class="text-header" ng-bind="note_details.note.date|date:'MMMM d, h:mm a'"></div>
                <div class="text-basic" ng-bind="note_details.note.text"></div>
            </div>
        </div>

        <div class="list">
            <div class="item medication-item" ng-repeat="medication in note_details.note.medications">
                <medication-block medication-name="medication.name"
                                  medication-brand="medication.brand"></medication-block>
            </div>
        </div>
    </ion-content>
</ion-view>
