<ion-view view-title="{{ notes_add.title }}">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="{{ notes_add.backState }}" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="orange-bg">
        <div class="card orange-card">
            <div class="text-center">
                <ion-spinner class="orange-loading-spinner" icon="dots"
                             ng-if="!notes_add.notesPromise.$$state.status || !notes_add.medicationsPromise.$$state.status"></ion-spinner>
            </div>

            <form class="orange-form" name="noteAdd">
                <div class="item item-error"
                     ng-if="noteAdd.$submitted && !noteAdd.$valid">
                    <div ng-messages="noteAdd.text.$error">
                        <p ng-message="required">Note text is required</p>
                    </div>
                </div>

                <div class="item item-body">

                    <label class="item-input">
                        <textarea name="text" data-ng-model="notes_add.note.text" rows="5"
                                  placeholder="Note Text" required></textarea>
                    </label>

                    <div class="medication-container">
                        <div class="bar-list text-center">
                            <button class="button button-icon icon ion-ios-minus-outline pull-left"
                                    ng-click="notes_add.medicationShowDelete = !notes_add.medicationShowDelete;">
                            </button>

                            <span>Medications</span>

                            <button class="button button-icon button-clear button-small ion-plus button-dose pull-right"
                                    ng-click="notes_add.modal.show()"></button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>

                        <ion-list class="list-clean note-medications-list" show-delete="notes_add.medicationShowDelete">
                            <ion-item class="medication-item" ng-repeat="med in notes_add.medications | filter: { checked: true }">
                                <div class="block-with-subscribe">
                                    <span class="text-basic" ng-bind="med.brand"></span>
                                    <span class="text-medication-brand" ng-bind="med.name"></span>
                                </div>

                                <ion-delete-button class="ion-minus-circled"
                                                   ng-click="notes_add.onMedicationRemove(med)">
                                </ion-delete-button>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </form>
            <div class="item item-button">
                <button type="submit" class="button button-full button-orange"
                        ng-click="notes_add.save(noteAdd)">Save Note</button>
            </div>
        </div>
    </ion-content>
</ion-view>