<ion-side-menus enable-menu-with-back-views="true" class="orange-menu">
    <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content scroll="false">
            <div class="avatar">
                <avatar patient="log"></avatar>
                <p>{{ log.first_name }} {{ log.last_name }}</p>
                <p class="phone" ng-if="log.phone" call-phone>{{ log.phone }}</p>
            </div>
            <ion-list>
                <ion-item menu-close ui-sref="app.today.schedule" ng-click="fixHistory()">
                    Today
                </ion-item>
                <ion-item menu-close ui-sref="app.notes.list" ng-click="fixHistory()">
                    Notes
                </ion-item>
                <ion-item menu-close ui-sref="app.medications" ng-click="fixHistory()">
                    Medications
                </ion-item>
                <ion-item menu-close ui-sref="app.doctors.list" ng-click="fixHistory()">
                    Doctors
                </ion-item>
                <ion-item menu-close ui-sref="app.pharmacies.list" ng-click="fixHistory()">
                    Pharmacies
                </ion-item>
            </ion-list>
            <div class="push-bottom-menu"></div>
            <div class="bottom-list">
                <ion-list>
                    <ion-item class="item-email" ng-bind="profile.email"></ion-item>
                    <ion-item menu-close ui-sref="app.logs.list" ng-click="fixHistory()">
                        Logs
                    </ion-item>
                    <ion-item menu-close ui-sref="app.sharing" ng-click="fixHistory()">
                        Sharing
                    </ion-item>
                    <ion-item menu-close ui-sref="app.settings" ng-click="fixHistory()">
                        Settings
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
