<ion-view hide-nav-bar="false" view-title="Welcome" class="onboarding">
    <ion-content class="orange-bg" scroll="false">
        <ion-slide-box>
            <ion-slide>
                <div class="box orange-bg">
                    <img src="img/onboarding_screens/recieve-reminders.png" class="slide-screen" alt=""/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <img src="img/onboarding_screens/record-notes.png" class="slide-screen" alt=""/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <img src="img/onboarding_screens/share-information.png" class="slide-screen" alt=""/>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="bottom-buttons">
        <div class="row">
            <div class="col col-60">
                <button class="button button-block button-light" ui-sref="account-create">Create Account</button>
            </div>
            <div class="col col-40">
                <button class="button button-block button-orange" ui-sref="account-login">Log In</button>
            </div>
        </div>
    </div>
</ion-view>
