<ion-view hide-nav-bar="false" view-title="Welcome" class="onboarding">
    <ion-content class="orange-bg" scroll="false">
        <ion-slide-box>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>

                    <p>Onboarding screen #1</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>

                    <p>Onboarding screen #2</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>

                    <p>Onboarding screen #3</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>

                    <p>Onboarding screen #4</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>

                    <p>Onboarding screen #5</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>

                    <p>Onboarding screen #6</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box orange-bg">
                    <h1>Orange</h1>

                    <p>Onboarding screen #7</p>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="bottom-buttons">
        <div class="row">
            <div class="col col-60">
                <button class="button button-block button-light" ui-sref="account-create">Create Account</button>
            </div>
            <div class="col col-40">
                <button class="button button-block button-orange" ui-sref="account-login">Log In</button>
            </div>
        </div>
    </div>
</ion-view>
