<div class="row spinner-container">
    <div class="col-66 col">
        <div class="input-block">
            <div class="input-addon">
                <button class="button-icon ion-minus button button-orange"
                        ng-click="(!minValue || model > minValue) ? model=model-1 : model"></button>
            </div>
            <input type="number" class="input-add-dose ng-valid ng-dirty ng-touched" ng-model="model" style="" only-numbers>
            <div class="input-addon">
                <button class="button-icon ion-plus button button-orange"
                        ng-click="(!maxValue || model < maxValue) ? model=model+1 : model"></button>
            </div>
        </div>
    </div>
    <div class="col-33 col subscribe" ng-bind="subscribe"></div>
</div>