<ion-view view-title="DOCTORS" hide-nav-bar="false">
    <ion-nav-bar class="bar-orange orange-light main-bar" align-title="left">
        <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <change-patient></change-patient>
            <button class="button button-icon button-clear button-small ion-plus button-dose" ui-sref="app.doctors.search"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!doctors.doctorsPromise.$$state.status"></ion-spinner>
        </div>

        <ion-refresher pulling-text="Pull to refresh" on-refresh="doctors.refresh()">
        </ion-refresher>

        <ion-list class="list-clean" can-swipe="true">
            <ion-item class="item-text-wrap" ng-repeat="doctor in doctors.doctors" ng-click="doctors.details(doctor)">
                <div class="block-with-subscribe">
                    <div class="text-basic-bold" ng-bind="doctor.name"></div>
                    <div class="text-basic" ng-bind="doctor.title" ng-if="doctor.title"></div>
                </div>

                <ion-option-button class="button-assertive option-control" ng-click="doctors.remove(doctor)">
                    <i class="icon ion-trash-a"></i>
                </ion-option-button>

            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="doctors.hasMore()" distance="{{ settings.defaultScrollDistance }}" on-infinite="doctors.loadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>