<ion-view hide-nav-bar="false" view-title="{{doctorDetails.title}}">
    <ion-nav-bar class="bar-orange" align-title="center">
        <ion-nav-buttons side="left" >
            <button ui-sref="app.doctors.list" class="button back-button button-clear header-item">
                <i class="icon ion-arrow-left-c"></i>
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right" >
            <button class="button button-clear button-small button-dose"
                    ui-sref="app.doctors.edit({id: doctorDetails.doctor.id})">Edit</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg">
        <div class="text-center">
            <ion-spinner class="orange-loading-spinner" icon="dots"
                         ng-if="!doctorDetails.doctorsPromise.$$state.status"></ion-spinner>
        </div>

        <div class="padding">
            <div class="block-with-subscribe">
                <div class="text-header">{{ doctorDetails.doctor.name }}</div>
                <div class="text-basic" ng-if="doctorDetails.doctor.title">{{ doctorDetails.doctor.title }}</div>
            </div>

            <ion-list class="list-last-open list-details">
                <ion-item ng-if="doctorDetails.doctor.address">
                    <span class="text-basic pre-line">{{ doctorDetails.doctor.address }}</span>

                    <span class="item-label">
                        <span class="button text-title" ng-click="doctorDetails.toMap()">DIRECTIONS</span>
                    </span>
                </ion-item>

                <ion-item ng-if="doctorDetails.doctor.phone">
                    <span class="text-basic">{{ doctorDetails.doctor.phone }}</span>
                    <span class="item-label">
                        <span class="button text-title" ng-click="doctorDetails.callDoctor(doctorDetails.doctor.phone)">CALL</span>
                    </span>
                </ion-item>

                <ion-item ng-if="doctorDetails.doctor.notes">
                    <span class="text-basic">{{ doctorDetails.doctor.notes }}</span>
                </ion-item>
            </ion-list>

        </div>

    </ion-content>
</ion-view>
