<ion-view hide-nav-bar="false" view-title="SHARING">
    <ion-nav-bar class="bar-orange orange-light main-bar" align-title="left">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="light-bg" padding="true" scroll="true">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="sharing.update(true)">
        </ion-refresher>
        <div class="list orange-list">
            <div ng-if="sharing.requests && sharing.requests.length > 0">
                <p class="form-title with-padding">Requests</p>
                <form class="orange-form with-bottom-border">
                    <ul class="list">
                        <li class="sharing-list" ng-repeat="request in sharing.requests">
                            <div class="item-input item-input-wo-margin">
                                <div class="input-label input-label-wo-margin sharing-email">
                                    <strong>{{ request.email }}</strong>
                                    has requested access to your logs
                                </div>
                            </div>
                            <div class="sharing-status">
                                <button class="button" ng-click="sharing.accept(request)">Accept</button><br>
                            </div>
                            <div class="sharing-status">
                                <button class="button" ng-click="sharing.decline(request)">Decline</button>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div ng-if="sharing.requested && sharing.requested.length > 0">
                <p class="form-title">My requests</p>
                <form class="orange-form with-bottom-border">
                    <ul class="list">
                        <li class="sharing-list" ng-repeat="request in sharing.requested">
                            <div class="item-input item-input-wo-margin">
                                <div class="input-label input-label-wo-margin">
                                    <div class="sharing-email"><strong>{{ request.email }}</strong>
                                        <div style="float: right">{{ request.status }}</div></div>
                                    <div class="sharing-status">
                                        <button class="button" ng-if="request.status=='pending'"
                                                ng-click="sharing.cancel(request)">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <p class="form-title">Reports</p>
            <form class="orange-form with-bottom-border">
                <label class="item-input">
                    <span class="input-label input-label-wo-margin">Select Month</span>
                </label>
                <label class="item item-input item-select">
                    <select data-ng-model="sharing.month"
                            ng-options="option.name for option in sharing.months track by option.id">

                    </select>
                </label>
                <label class="item-input">
                    <span class="input-label input-label-wo-margin">Select Log</span>
                </label>
                <label class="item item-input item-select">
                    <select data-ng-model="sharing.log" ng-change="sharing.onChange()">
                        <option ng-repeat="log in sharing.logs" value="{{ log.id }}">{{ log.first_name + ' ' + log.last_name }}</option>
                    </select>
                </label>
                <label class="item item-warning" ng-if="sharing.buttonDisabled">
                    <p>This log has no data for report.</p>
                </label>
                <button class="button button-full button-download" ng-disabled="sharing.buttonDisabled"
                        ui-sref="app.sharing-report({id: sharing.log, month: sharing.month.month, year: sharing.month.year})">
                    <img src="img/bluebutton.svg" class="img-download">Download My Data
                </button>

            </form>
        </div>
    </ion-content>
</ion-view>
